<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text:400,700|Philosopher:400,700|Berkshire+Swash " rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <title>INVISIO</title>
</head>

<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="loaderShortcode loaderShapeRight"></div>
        <div class="loaderShortcode loaderShapeLeft"></div>
        <div class="loaderShortcode loaderLogo"></div>
    </div>
    
    <div id="content-block">
        <!-- HEADER -->
        <header>
           <div class="container">
                <div class="row">
                    <a class="logo" href="index.html"><img src="img/logo.png" alt=""></a>
                    <div class="mobileWrapper">
                        <div class="headerLikeWrapper">
                            <div class="headerLike">
								<i class="fa fa-heart-o likeHear"></i>
								<!-- HeaderSocial -->
								<div class="headerSocialWrapper">
									<a class="headerSocial  spin spin2" href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook headerSocialIcon headerF"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://twitter.com" target="_blank"><i class="fa fa-twitter headerSocialIcon headerTw"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus headerSocialIcon headerGl"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://pinterest.com" target="_blank"> <i class="fa fa-pinterest-p headerSocialIcon headerPi"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin headerSocialIcon headerIn"></i></a>
								</div>
                        	</div>
                        </div>
                        <div class="headerScearch open-popup" data-rel="2">
                        	<i class="fa fa-search headerSearchIcon"></i>
                        </div>
                        <nav>
                            <ul class="leftMenu">
                                <li><a href="index.html">Home</a></li>
                                <li><a class="headerActive" href="about.html">About</a></li>
                                <li>
                                	<a href="products.html">Products</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a href="products-detail.html">Product Detail</a></li>
                                	</ul>
                                </li>
                            </ul>
                            <ul class="RightMenu">
                                <li><a href="services.html">Services</a></li>
                                <li>
                                	<a href="blog.html">Blog</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a href="blog2.html">Blog 2</a></li>
                                		<li><a href="blog3.html">Blog 3</a></li>
                                		<li><a href="blog-detail.html">Blog Detail</a></li>
                                	</ul>
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </nav> 
                    </div>
                    <div class="menuIcon"> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                    </div>
                </div>
           </div>
        </header>
        <!-- About-Us-Page -->
        <div class="bgImages opacityLayer" style="background-image: url(img/about-us-bg.jpg); background-position: 50% 50%; background-size: cover">
           <div class="container">
                <div class="cell-view tableCellVH2">
                    <div class="emptySpace100 emptySpace-md50"></div>
                    <div class="emptySpace115 emptySpace-md50"></div>
                    <div class="row">
                        <!-- About-Us-Title -->
                        <div class="col-sm-8 col-sm-offset-2">
                           <div class="big titleShortcode">
                                <h3 class="h3">Read</h3>
                                <h2 class="h1">About Us</h2>
                                <div class="emptySpace5"></div>
                                <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem</p>   
                           </div>
                        </div>
                    </div>
                    <div class="emptySpace50"></div>
                </div>   
           </div>
        </div>
        <div class="bgWhite">
            <div class="container">
               <div class="emptySpace-xs60 emptySpace120"></div>
                <div class="row">
                    <!-- What-We-Do-Title -->
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                       <div class="big titleShortcode">
                            <h5 class="h5">We Do What We Like And</h5>
                            <div class="emptySpace20 emptySpace-xs5"></div>
                            <h2 class="h2 bottomLine">We Like What We Do</h2>
                            <div class="emptySpace30"></div>
                            <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. </p>  
                            <div class="emptySpace85 emptySpace-xs30"></div> 
                       </div>
                    </div>
                </div>
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- Slide-1 -->
                            <div class="swiper-slide">
								<img class="imgShortcode" src="img/about-us-slide.jpg" alt=""></div>
                            <!-- Slide-2 -->
                            <div class="swiper-slide" >
								<img class="imgShortcode" src="img/about-us-slide2.jpg" alt="">
                            </div>
                            <!-- Slide-3 -->
                            <div class="swiper-slide">
								<img class="imgShortcode" src="img/about-us-slide3.jpg" alt="">
                            </div>
                        </div>
                        <!-- Swiper-Pagination -->
                        <div class="swiper-pagination swiper-pagination-white"></div>
                    </div>
                <div class="emptySpace15"></div>
                <div class="normall contentShortcode2">
                    <h4 class="h4">Aenean egestas placerat</h4>
                    <div class="emptySpace15"></div>
                    <p>Fusce id elit et tellus egestas fermentum. Suspendisse et mollis risus, ut congue nisl. Praesent sed facilisis dui. Mauris facilisis tincidunt vestibulum. Maecenas volutpat sagittis mi, ut vulputate mauris sodales in.</p>
                    <div class="emptySpace25"></div>
                    <p>Curabitur pulvinar mattis nunc eu hendrerit. Integer porttitor metus eu leo sodales, sed malesuada nulla ullamcorper. Vivamus nisl lorem, condimentum nec nibh facilisis, dapibus aliquam turpis. Quisque dolor tellus, porttitor vitae ipsum ac, dignissim malesuada turpis. Donec auctor lacus ut odio lobortis rhoncus. Curabitur pellentesque ac dolor et imperdiet.</p>   
                </div>
                <div class="emptySpace-md20"></div>
                <div class="normall">
                    <h4 class="h4">Fusce id elit et tellus egestas</h4>
                    <div class="emptySpace15 emptySpace-xs15"></div>
                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                    <div class="emptySpace25 emptySpace-xs15"></div>
                    <div class="subShortcode">
                        <p>- always fresh ingredients;</p>
                        <p>- only professionals in this job;</p>
                        <p>- every customer satisfied.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="emptySpace-md60 emptySpace125"></div>
        
        <!-- Sweet-History -->
        <div class="bgImages opacityLayer" style="background-image: url(img/sweet-history-bg.jpg); background-position: 50% 50%; background-size: cover">
            <div class="container">
                <div class="row">
                   <div class="emptySpace-xs60 emptySpace120"></div>
                    <!-- Sweet-History-Title -->
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <div class="big titleShortcode">
                            <h5 class="h5">Moments Of</h5>
                            <div class="emptySpace15"></div>
                            <h2 class="h2 bottomLine">Our Sweet History</h2>
                            <div class="emptySpace35"></div>
                            <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam.</p>
                        </div> 
                        <div class="emptySpace55 emptySpace-xs30"></div>  
                    </div>
                </div>
                <div class="row">
                    <div class="yearShortcode2">
                        <div class="yearWrapper">
                            <h4 class="h4 historyYear">2016</h4>
                        </div>
                    </div>
                    <!-- History-Block-1 -->
                    <div class="timeLineShortcode2">
                    <div class="flexWrapper2">
                        <div class="imgTimeLineWrapper">
                          <a class="imgLayer" href="blog2.html"><img class="imgShortcode2" src="img/history-time-line.jpg" alt=""><span></span><span></span></a>
                        </div>
                        <div class="emptySpace-xs20"></div>
                        <div class="normall contentTimeLineWrapper">
                            <a href="blog2.html"><h4 class="h4">Fusce id elit et tellus egestas</h4></a>
                            <div class="emptySpace15"></div>
                            <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>     
                        </div>    
                    </div>
                    <div class="monthWrapper">
                        <h4 class="h4 historyMonth">23, July</h4>
                    </div>
               </div>
                    <!-- History-Block-2 -->
                    <div class="timeLineShortcode2">
                    <div class="flexWrapper2">
                        <div class="imgTimeLineWrapper rotateRight">
                            <a class="imgLayer" href="blog2.html"><img class="imgShortcode2" src="img/history-time-line2.jpg" alt=""><span></span><span></span></a>
                        </div>
                        <div class="emptySpace-xs20"></div>
                        <div class="normall contentTimeLineWrapper rotateLeft">
                            <a href="blog2.html"><h4 class="h4">Aenean egestas placerat</h4></a>
                            <div class="emptySpace15"></div>
                            <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>   
                        </div>   
                    </div>
                    <div class="monthWrapper">
                        <h4 class="h4 historyMonth">11, May</h4>    
                    </div>
               </div>
                    <!-- History-Block-3 -->
                    <div class="timeLineShortcode2">
                    <div class="flexWrapper2">
                        <div class="imgTimeLineWrapper">
                            <a class="imgLayer" href="blog2.html"><img class="imgShortcode2" src="img/history-time-line3.jpg" alt=""><span></span><span></span></a>
                        </div>
                        <div class="emptySpace-xs20"></div>
                        <div class="normall contentTimeLineWrapper">
                            <a href="blog2.html"><h4 class="h4">Maecenas volutpat sagittis mi</h4></a>
                            <div class="emptySpace15"></div>
                            <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>  
                        </div>   
                    </div>
                    <div class="monthWrapper">
                        <h4 class="h4 historyMonth">08, February</h4>    
                    </div>
               </div>
                    <div class="yearShortcode2">
                        <div class="yearWrapper">
                            <h4 class="h4 historyYear">2015</h4>
                        </div>    
                    </div>
                    <!-- History-Block-4 -->
                    <div class="timeLineShortcode2">
                        <div class="flexWrapper2">
                            <div class="imgTimeLineWrapper rotateRight">
                                <a class="imgLayer" href="blog2.html"><img class="imgShortcode2" src="img/history-time-line4.jpg" alt=""> <span></span><span></span> </a>
                            </div>
                            <div class="emptySpace-xs20"></div>
                            <div class="normall contentTimeLineWrapper rotateLeft">
                                <a href="blog2.html"><h4 class="h4">Vivamus nisl lorem</h4></a>
                                <div class="emptySpace15"></div>
                                <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>  
                            </div>   
                        </div>
                        <div class="monthWrapper">
                            <h4 class="h4 historyMonth">12, November</h4>    
                        </div>
                    </div>
                    <!-- History-Block-5 -->
                    <div class="timeLineShortcode2">
                        <div class="flexWrapper2">
                            <div class="imgTimeLineWrapper">
                                <a class="imgLayer" href="blog2.html"><img class="imgShortcode2" src="img/history-time-line5.jpg" alt=""> <span></span><span></span></a>
                            </div> 
                            <div class="emptySpace-xs20"></div>
                            <div class="normall contentTimeLineWrapper">
                               <a href="blog-detail.html"><h4 class="h4">Fusce id elit et tellus egestas</h4></a>
                               <div class="emptySpace15"></div>
                               <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>
                            </div> 
                        </div>
                        <div class="monthWrapper">
                            <h4 class="h4 historyMonth">29, September</h4>    
                        </div>
                    </div>
                    <div class="yearShortcode2 loadedMore">
                        <div class="historySeeMore">
                            <div class="historyPlus spin spin2"><span></span><span></span></div>   
                        </div>    
                    </div>
                <div class="emptySpace95 emptySpace-xs60"></div>
                </div>
            </div>
        </div>
        <div class="emptySpace120 emptySpace-md60"></div>
        
        <!-- Our-Professionals -->
        <div class="bgWhite">
            <div class="container">
                <div class="row">
                    <!-- Our-Professionals-title -->
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <div class="big titleShortcode">
                            <h5 class="h5">Meet With</h5>
                            <div class="emptySpace20 emptySpace-xs5"></div>
                            <h2 class="h2 bottomLine">Our Professionals</h2>
                            <div class="emptySpace30"></div>
                            <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. </p> 
                            <div class="emptySpace85 emptySpace-xs30"></div>  
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="swiper-container" data-breakpoints="1" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-slides-per-view="3">
                        <div class="swiper-wrapper">
                            <!-- Slide-1 -->
                            <div class="swiper-slide">
                                <div class="normall contentShortcode3">
                                    <img src="img/professional1.jpg" alt="">
                                    <div class="emptySpace10"></div>
                                    <a href="contacts.html"><h4 class="h4">Ted Cortney</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Head Chef</p>
                                    <div class="emptySpace10"></div>
                                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                    <div class="socialWrapper">
                                        <a class="social3 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
                                        	<i class="fa fa-facebook shareF"></i>
                                        </a>
                                        <a class="social3 shareBg spin spin2" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter shareT"></i>
                                        </a>   
                                        <a class="social3 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
                                        	<i class="fa fa-linkedin shareIn"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-2 -->
                            <div class="swiper-slide">
                                <div class="normall contentShortcode3">
                                    <img src="img/professional2.jpg" alt="">
                                    <div class="emptySpace10"></div>
                                    <a href="#"><h4 class="h4">Felicia Stone</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Professional Su Chef</p>
                                    <div class="emptySpace10"></div>
                                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                    <div class="socialWrapper">
                                        <a class="social3 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
                                        	<i class="fa fa-facebook shareF"></i>
                                        </a>
                                        <a class="social3 shareBg spin spin2" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter shareT"></i>
                                        </a>   
                                        <a class="social3 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
                                        	<i class="fa fa-linkedin shareIn"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-3 -->
                            <div class="swiper-slide">
                                <div class="normall contentShortcode3">
                                    <img src="img/professional3.jpg" alt="">
                                    <div class="emptySpace10"></div>
                                    <a href="#"><h4 class="h4">Tony Snow</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Certified Confectioner</p>
                                    <div class="emptySpace10"></div>
                                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                    <div class="socialWrapper">
                                        <a class="social3 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
                                        	<i class="fa fa-facebook shareF"></i>
                                        </a>
                                        <a class="social3 shareBg spin spin2" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter shareT"></i>
                                        </a>   
                                        <a class="social3 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
                                        	<i class="fa fa-linkedin shareIn"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-4 -->
                            <div class="swiper-slide">
                                <div class="normall contentShortcode3">
                                    <img src="img/professional2.jpg" alt="">
                                    <div class="emptySpace10"></div>
                                    <a href="#"><h4 class="h4">Felicia Stone</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Professional Su Chef</p>
                                    <div class="emptySpace10"></div>
                                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                    <div class="socialWrapper">
                                        <a class="social3 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
                                        	<i class="fa fa-facebook shareF"></i>
                                        </a>
                                        <a class="social3 shareBg spin spin2" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter shareT"></i>
                                        </a>   
                                        <a class="social3 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
                                        	<i class="fa fa-linkedin shareIn"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-5 -->
                            <div class="swiper-slide">
                                <div class="normall contentShortcode3">
                                    <img src="img/professional1.jpg" alt="">
                                    <div class="emptySpace10"></div>
                                    <a href="#"><h4 class="h4">Ted Cortney</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Head Chef</p>
                                    <div class="emptySpace10"></div>
                                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                    <div class="socialWrapper">
                                        <a class="social3 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
                                        	<i class="fa fa-facebook shareF"></i>
                                        </a>
                                        <a class="social3 shareBg spin spin2" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter shareT"></i>
                                        </a>   
                                        <a class="social3 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
                                        	<i class="fa fa-linkedin shareIn"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                            <!-- Slide-6 -->
                            <div class="swiper-slide">
                                <div class="normall contentShortcode3">
                                    <img src="img/professional3.jpg" alt="">
                                    <div class="emptySpace10"></div>
                                    <a href="#"><h4 class="h4">Tony Snow</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Certified Confectioner</p>
                                    <div class="emptySpace10"></div>
                                    <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                    <div class="socialWrapper">
                                        <a class="social3 shareBg spin spin2" href="https://www.facebook.com/" target="_blank">
                                        	<i class="fa fa-facebook shareF"></i>
                                        </a>
                                        <a class="social3 shareBg spin spin2" href="https://twitter.com/" target="_blank">
											<i class="fa fa-twitter shareT"></i>
                                        </a>   
                                        <a class="social3 shareBg spin spin2" href="https://www.linkedin.com/" target="_blank">
                                        	<i class="fa fa-linkedin shareIn"></i>
                                        </a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="swiper-pagination relative-pagination swiper-pagination-black"></div>
                    <div class="emptySpace35"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Customers-Say -->
        <div class="bgImages opacityLayer" style="background-image: url(img/customers-bg.jpg); background-position: 50% 50%; background-size: cover">
                <div class="emptySpace120 emptySpace-xs60"></div>
                <div class="container">
                    <div class="row">
                        <!-- Our-Customers-Title -->
                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                            <div class="big titleShortcode">
                                <h5 class="h5">What Does</h5>
                                <div class="emptySpace20 emptySpace-xs5"></div>
                                <h2 class="h2 bottomLine">Our Customers Say</h2>
                                <div class="emptySpace30"></div>
                                <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. </p>   
                                <div class="emptySpace85 emptySpace-xs30"></div>
                            </div>   
                        </div>
                    </div>
                </div>
            <div class="swiper-container">
				<!-- Swiper-Arrow -->
                <div class="arrowWrapper"> 
                    <div class="swiper-button-prev hidden-xs spin spin2">
                        <img class="arrowShortcode" src="img/left-hover-arrow.png" alt="">
                    </div>
                    <div class="swiper-button-next hidden-xs spin spin2">
                        <img class="arrowShortcode" src="img/right-hover-arrow.png" alt="">
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <!-- Slide-1 -->
                    <div class="swiper-slide">
                       <div class="container">
                           <div class="row">
                               <div class="col-sm-6 col-sm-offset-3">
                                    <div class="normall contentShortcode4">
                                        <img class="customer" src="img/customer-image.jpg" alt="">
                                        <div class="emptySpace15"></div>
                                        <h4 class="h4">“Outstanding quality & taste. Totally recommend!”</h4>
                                        <div class="emptySpace15"></div>
                                        <p>Integer i psum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Duis posuere blandit imperdiet. Mauris ac tortor elit. Mauris vel risus et dui luctus congue at in quam.Duis est orci, luctus.</p>
                                        <div class="emptySpace10"></div>
                                        <div class="big">
                                            <p>Carrie Gordon</p>
                                        </div>
                                        <div class="emptySpace15"></div>
                                        <p>Magazine Fashion Photographer</p>  
                                    </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <!-- Slide-2 -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="normall contentShortcode4">
                                        <img class="customer" src="img/customer-image2.jpg" alt="">
                                        <div class="emptySpace15"></div>
                                        <h4 class="h4">“Outstanding quality & taste. Totally recommend!”</h4>
                                        <div class="emptySpace15"></div>
                                        <p>Integer i psum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Duis posuere blandit imperdiet. Mauris ac tortor elit. Mauris vel risus et dui luctus congue at in quam.Duis est orci, luctus.</p>
                                        <div class="emptySpace10"></div>
                                        <div class="big">
                                            <p>Carrie Gordon</p>
                                        </div>
                                        <div class="emptySpace15"></div>
                                        <p>Magazine Fashion Photographer</p>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide-3 -->
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="normall contentShortcode4">
                                        <img class="customer" src="img/customer-image3.jpg" alt="">
                                        <div class="emptySpace15"></div>
                                        <h4 class="h4">“Outstanding quality & taste. Totally recommend!”</h4>
                                        <div class="emptySpace15"></div>
                                        <p>Integer i psum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Duis posuere blandit imperdiet. Mauris ac tortor elit. Mauris vel risus et dui luctus congue at in quam.Duis est orci, luctus.</p>
                                        <div class="emptySpace10"></div>
                                        <div class="big">
                                            <p>Carrie Gordon</p>
                                        </div>
                                        <div class="emptySpace15"></div>
                                        <p>Magazine Fashion Photographer</p>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination relative-pagination swiper-pagination-white pagiPosition"></div>
                <div class="emptySpace35"></div>
            </div>  
        </div>
        <div class="emptySpace50"></div>
        
        <!-- FOOTER -->
        <footer>
            <div class="bgWhite">
               <div class="container">
                    <!-- Contacts -->
                    <h4 class="h4 contentShortcode"> 
                        <a class="phone" href="tel:5557858965">Call Us Today: <span>555 785 8965</span></a>
                    </h4>
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Social -->
                    <div class="contentShortcode">
                        <h4 class="h4 follow">Follow us</h4>
                        <a class="social footerSocilaBg fb spin spin2" href="https://www.facebook.com/" target="_blank">
                        	<i class="fa fa-facebook footerSocial footerF"></i>
                        </a>
                        <a class="social footerSocilaBg tw spin spin2" href="https://twitter.com" target="_blank">
                        	<i class="fa fa-twitter footerSocial footerTw"></i>
                        </a>
                        <a class="social footerSocilaBg gl spin spin2" href="https://plus.google.com/" target="_blank">
                        	<i class="fa fa-google-plus footerSocial footerGl"></i>
                        </a>
                        <a class="social footerSocilaBg pi spin spin2" href="https://www.pinterest.com/" target="_blank">
                        	<i class="fa fa-pinterest-p footerSocial footerPi"></i>
                        </a>
                        <a class="social footerSocilaBg in spin spin2" href="https://www.linkedin.com/" target="_blank">
                        	<i class="fa fa-linkedin footerSocial footerIn"></i>
                        </a>
                    </div>
                    <div class="emptySpace45 emptySpace-xs20"></div>
                    <!-- Instagram -->
                    <h4 class="h4 contentShortcode">
                        <a class="inst" href="https://www.instagram.com" target="_blank">Join us on instagram: <span>#invisiocakes</span></a>
                    </h4>   
                    <div class="emptySpace25"></div>
                    <!-- Instagram-Images -->
                    <div class="instagram">
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image1.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image2.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image3.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image4.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image5.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image6.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image7.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image8.jpg" alt=""><span></span><span></span></a>
                    </div>  
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Copy -->
                    <div class="copy">
                        <p>© Invisio Cakes. All rights reserved.</p>
                    </div>   
               </div>
            </div>
        </footer>
        <div class="emptySpace60"></div>
    </div>
        <!-- Popup -->
        <div class="popup-wrapper">
            <div class="bg-layer"></div>
            <div class="popup-content" data-rel="1">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <div class="embed-responsive embed-responsive-16by9">

                   </div>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
            <!-- Search-Popup -->
            <div class="popup-content" data-rel="2">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <form>
                       <input class="popupSearch" type="search" placeholder="Search">
                       <input class="searchicon" type="submit">
                   </form>
                  	<i class="fa fa-search searchPopUpIcon"></i>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
        </div>
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/global.js"></script>

</body>

</html>