<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text:400,700|Philosopher:400,700|Berkshire+Swash " rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <title>INVISIO</title>
</head>

<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="loaderShortcode loaderShapeRight"></div>
        <div class="loaderShortcode loaderShapeLeft"></div>
        <div class="loaderShortcode loaderLogo"></div>
    </div>
    
    <div id="content-block">
        <!-- HEADER -->
        <header>
           <div class="container">
                <div class="row">
                    <a class="logo" href="index.html"><img src="img/logo.png" alt=""></a>
                    <div class="mobileWrapper">
                        <div class="headerLikeWrapper">
                            <div class="headerLike">
								<i class="fa fa-heart-o likeHear"></i>
								<!-- HeaderSocial -->
								<div class="headerSocialWrapper">
									<a class="headerSocial  spin spin2" href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook headerSocialIcon headerF"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://twitter.com" target="_blank"><i class="fa fa-twitter headerSocialIcon headerTw"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus headerSocialIcon headerGl"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://pinterest.com" target="_blank"> <i class="fa fa-pinterest-p headerSocialIcon headerPi"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin headerSocialIcon headerIn"></i></a>
								</div>
                        	</div>
                        </div>
                        <div class="headerScearch open-popup" data-rel="2">
                        	<i class="fa fa-search headerSearchIcon"></i>
                        </div>
                        <nav>
                            <ul class="leftMenu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                	<a href="products.html">Products</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a href="products-detail.html">Product Detail</a></li>
                                	</ul>
                                </li>
                            </ul>
                            <ul class="RightMenu">
                                <li><a href="services.html">Services</a></li>
                                <li>
                                	<a class="headerActive" href="blog.html">Blog</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a class="headerActive" href="blog2.html">Blog 2</a></li>
                                		<li><a href="blog3.html">Blog 3</a></li>
                                		<li><a href="blog-detail.html">Blog Detail</a></li>
                                	</ul>
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </nav> 
                    </div>
                    <div class="menuIcon"> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                    </div>
                </div>
           </div>
        </header>
        
        <!-- Our-Blog -->
        <div class="bgImages opacityLayer" style="background-image: url(img/blog-bg.jpg); background-position: 50% 50%; background-size: cover;">
            <div class="container">
                <div class="cell-veiw">
                    <div class="emptySpace105 emptySpace-md50"></div>
                    <div class="emptySpace150 emptySpace-md50"></div>
                    <div class="row">
                        <!-- Our-Blog-Title -->
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="big titleShortcode">
                                <h3 class="h3">Read And Join</h3>
                                <h2 class="h1">Our Blog</h2>
                                <div class="emptySpace5"></div>
                                <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem </p>    
                            </div>
                        </div>
                    </div>
                    <div class="emptySpace80 emptySpace-xs30"></div>
                    <div class="row">
                       <div class="switchContentWrapper">
                            <a class="switchContent switchContentActive" href="#">All</a>
                            <a class="switchContent" href="#">Culinary</a>
                            <a class="switchContent" href="#">Upcoming Events</a>
                            <a class="switchContent" href="#">Recipes</a>
                            <a class="switchContent" href="#">Cooks</a>
                            <a class="switchContent" href="#">Customers</a>   
                       </div>
                    </div>
                    <div class="emptySpace85 emptySpace-md50"></div>
                </div>
            </div>
        </div>
        <div class="bgWhite">
            <div class="container">
                <div class="emptySpace110 emptySpace-xs60"></div>
                <div class="row">
                    <!-- Block-1 -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="normall titleShortcode2">
                            <a href="#"><h2 class="h2">Fusce id elit et tellus egestas</h2></a>
                            <div class="emptySpace15"></div>
                            <div class="eventWrapper">
                                <a href="#" class="small persone">Mickey Ronalds</a>
                                <a href="#" class="small calendar">August 17, 2016</a>
                                <a href="#" class="small event">Upcoming  Events</a>    
                            </div>
                            <div class="emptySpace30"></div>
                            <a class="imgLayer" href="#"><img class="imgShortcode" src="img/blog-image6.jpg" alt=""><span></span><span></span></a>
                            <div class="emptySpace5"></div>
                            <p>Proin at interdum risus, interdum congue est. Sed convallis hendrerit enim. Donec mollis lacus magna. Nunc aliquam tellus ut vulputate mollis. Pellentesque a justo et orci imperdiet suscipit eu sed justo. Vestibulum eu erat lorem. Cras sit amet consequat ante, sit amet volutpat lacus.</p>
                            <div class="emptySpace15"></div>
                            <div class="small like"><span>35</span></div>
                            <div class="small comment"><span>78</span></div> 
                        </div>
                    </div>
                </div>
                <div class="emptySpace60 emptySpace-xs30"></div>
                <div class="row">
                    <!-- Block-2 -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="normall titleShortcode2">
                            <a href="#"><h2 class="h2">Maecenas volutpat sagittis mi</h2></a>
                            <div class="emptySpace15"></div>
                            <div class="eventWrapper">
                                <a href="#" class="small persone">Forest Fosters</a>
                                <a href="#" class="small calendar">June 11, 2016</a>
                                <a href="#" class="small event">Culinary</a>    
                            </div>
                            <div class="emptySpace30"></div>
                            <div class="relativeBlock">
                                <img class="imgShortcode" src="img/blog-image7.jpg" alt="">
                                <div class="videoIcon open-video spin spin2" data-rel="1" data-src="https://www.youtube.com/embed/ZJy1ajvMU1k">
                                    <div class="viBg">
                                        <div class="playIcon"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="emptySpace15"></div>
                            <div>Proin at interdum risus, interdum congue est. Sed convallis hendrerit enim. Donec mollis lacus magna. Nunc aliquam tellus ut vulputate mollis. Pellentesque a justo et orci imperdiet suscipit eu sed justo. Vestibulum eu erat lorem. Cras sit amet consequat ante, sit amet volutpat lacus.</div>
                            <div class="emptySpace15"></div>
                            <div class="small like"><span>56</span></div>
                            <div class="small comment"><span>97</span></div> 
                        </div>
                    </div>
                </div>
                <div class="emptySpace60 emptySpace-xs30"></div>
                <div class="row">
                    <!-- Block-3 -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="normall titleShortcode2">
                            <a href="#"><h2 class="h2">Aenean egestas placerat</h2></a>
                            <div class="emptySpace15"></div>
                            <div class="eventWrapper">
                                <a href="#" class="small persone">Lisa Camry</a>
                                <a href="#" class="small calendar">May 09, 2016</a>
                                <a href="#" class="small event">Culinary</a>    
                            </div>
                        </div>
                        <div class="emptySpace30"></div>
                        <div class="swiper-container" data-loop="1">
                            <div class="swiper-wrapper">
                                <!-- Slide-1 -->
                                <div class="swiper-slide">
                                    <img class="imgShortcode" src="img/blog-image8.jpg" alt="">
                                </div>
                                <!-- Slide-2 -->
                                <div class="swiper-slide">
                                    <img class="imgShortcode" src="img/blog-image9.jpg" alt="">
                                </div>
                                <!-- Slide-3 -->
                                <div class="swiper-slide">
                                    <img class="imgShortcode" src="img/blog-image10.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                        <div class="emptySpace15"></div>
                        <div class="normall titleShortcode2">
                            <p>Proin at interdum risus, interdum congue est. Sed convallis hendrerit enim. Donec mollis lacus magna. Nunc aliquam tellus ut vulputate mollis. Pellentesque a justo et orci imperdiet suscipit eu sed justo. Vestibulum eu erat lorem. Cras sit amet consequat ante, sit amet volutpat lacus.</p>
                            <div class="emptySpace15"></div>
                            <p class="small like"><span>35</span></p>
                            <p class="small comment"><span>78</span></p>    
                        </div>
                    </div>
                </div>
                <div class="emptySpace60 emptySpace-xs30"></div>
                <div class="row">
                    <!-- Block-4 -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="normall titleShortcode2">
                           <a href="#"><h2 class="h2">Fusce id elit et tellus egestas</h2></a>
                            <div class="emptySpace15"></div>
                            <div class="eventWrapper">
                                <a class="small persone">Jade Crimson</a>
                                <a class="small calendar">May 09, 2016</a>
                                <a class="small event">Culinary</a>    
                            </div>
                            <div class="emptySpace30"></div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/105699952?color=e2fb2e&title=0&byline=0&portrait=0" width="750" height="350"></iframe>   
                            </div>
                            <div class="emptySpace15"></div>
                            <p>Proin at interdum risus, interdum congue est. Sed convallis hendrerit enim. Donec mollis lacus magna. Nunc aliquam tellus ut vulputate mollis. Pellentesque a justo et orci imperdiet suscipit eu sed justo. Vestibulum eu erat lorem. Cras sit amet consequat ante, sit amet volutpat lacus.</p>
                            <div class="emptySpace15"></div>
                            <p class="small like"><span>56</span></p>
                            <p class="small comment"><span>97</span></p> 
                        </div>
                    </div>
                </div>
                <div class="emptySpace70 emptySpace-xs40"></div>
                <div class="pagePagination">
                    <a class="pagiLeft spin spin2 hidden-xs" href="blog2.html"></a>
                    <div class="normall numberPagination">
                        <a class="pagiActive spin spin2" href="blog2.html">1</a>
                        <a class="spin spin2" href="blog2.html">2</a>
                        <a class="spin spin2" href="blog2.html">3</a>
                        <a class="spin spin2" href="blog2.html">4</a>
                        <span>...</span>
                        <a class="spin spin2" href="blog2.html">29</a>
                    </div>
                <a class="pagiRight spin spin2 hidden-xs" href="blog2.html"></a>    
                </div>
            </div>
        </div>
        <div class="emptySpace-xs60 emptySpace150"></div>
        
        <div class="footerSeparator"></div>
        <div class="emptySpace50 emptySpace-xs30"></div>
        
        <!-- FOOTER -->
        <footer>
            <div class="bgWhite">
               <div class="container">
                    <!-- Contacts -->
                    <h4 class="h4 contentShortcode"> 
                        <a class="phone" href="tel:5557858965">Call Us Today: <span>555 785 8965</span></a>
                    </h4>
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Social -->
                    <div class="contentShortcode">
                        <h4 class="h4 follow">Follow us</h4>
                        <a class="social footerSocilaBg fb spin spin2" href="https://www.facebook.com/" target="_blank">
                        	<i class="fa fa-facebook footerSocial footerF"></i>
                        </a>
                        <a class="social footerSocilaBg tw spin spin2" href="https://twitter.com" target="_blank">
                        	<i class="fa fa-twitter footerSocial footerTw"></i>
                        </a>
                        <a class="social footerSocilaBg gl spin spin2" href="https://plus.google.com/" target="_blank">
                        	<i class="fa fa-google-plus footerSocial footerGl"></i>
                        </a>
                        <a class="social footerSocilaBg pi spin spin2" href="https://www.pinterest.com/" target="_blank">
                        	<i class="fa fa-pinterest-p footerSocial footerPi"></i>
                        </a>
                        <a class="social footerSocilaBg in spin spin2" href="https://www.linkedin.com/" target="_blank">
                        	<i class="fa fa-linkedin footerSocial footerIn"></i>
                        </a>
                    </div>
                    <div class="emptySpace45 emptySpace-xs20"></div>
                    <!-- Instagram -->
                    <h4 class="h4 contentShortcode">
                        <a class="inst" href="https://www.instagram.com" target="_blank">Join us on instagram: <span>#invisiocakes</span></a>
                    </h4>   
                    <div class="emptySpace25"></div>
                    <!-- Instagram-Images -->
                    <div class="instagram">
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image1.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image2.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image3.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image4.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image5.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image6.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image7.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image8.jpg" alt=""><span></span><span></span></a>
                    </div>  
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Copy -->
                    <div class="copy">
                        <p>© Invisio Cakes. All rights reserved.</p>
                    </div>   
               </div>
            </div>
        </footer>
        <div class="emptySpace60"></div>
    </div>
        <!-- Popup -->
        <div class="popup-wrapper">
            <div class="bg-layer"></div>
            <div class="popup-content" data-rel="1">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <div class="embed-responsive embed-responsive-16by9">

                   </div>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
            <!-- Search-Popup -->
            <div class="popup-content" data-rel="2">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <form>
                       <input class="popupSearch" type="search" placeholder="Search">
                       <input class="searchicon" type="submit">
                   </form>
                  	<i class="fa fa-search searchPopUpIcon"></i>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
        </div>
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/global.js"></script>

</body>

</html>