<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text:400,700|Philosopher:400,700|Berkshire+Swash " rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <title>INVISIO</title>
</head>

<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="loaderShortcode loaderShapeRight"></div>
        <div class="loaderShortcode loaderShapeLeft"></div>
        <div class="loaderShortcode loaderLogo"></div>
    </div>
    
    <div id="content-block">
        <!-- HEADER -->
        <header>
           <div class="container">
                <div class="row">
                    <a class="logo" href="index.html"><img src="img/logo.png" alt=""></a>
                    <div class="mobileWrapper">
                        <div class="headerLikeWrapper">
                            <div class="headerLike">
								<i class="fa fa-heart-o likeHear"></i>
								<!-- HeaderSocial -->
								<div class="headerSocialWrapper">
									<a class="headerSocial  spin spin2" href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook headerSocialIcon headerF"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://twitter.com" target="_blank"><i class="fa fa-twitter headerSocialIcon headerTw"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus headerSocialIcon headerGl"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://pinterest.com" target="_blank"> <i class="fa fa-pinterest-p headerSocialIcon headerPi"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin headerSocialIcon headerIn"></i></a>
								</div>
                        	</div>
                        </div>
                        <div class="headerScearch open-popup" data-rel="2">
                        	<i class="fa fa-search headerSearchIcon"></i>
                        </div>
                        <nav>
                            <ul class="leftMenu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                	<a href="products.html">Products</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a href="products-detail.html">Product Detail</a></li>
                                	</ul>
                                </li>
                            </ul>
                            <ul class="RightMenu">
                                <li><a href="services.html">Services</a></li>
                                <li>
                                	<a class="headerActive" href="blog.html">Blog</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a href="blog2.html">Blog 2</a></li>
                                		<li><a class="headerActive" href="blog3.html">Blog 3</a></li>
                                		<li><a href="blog-detail.html">Blog Detail</a></li>
                                	</ul>
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </nav> 
                    </div>
                    <div class="menuIcon"> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                    </div>
                </div>
           </div>
        </header>
        
        <!-- Our-Blog -->
        <div class="bgImages opacityLayer" style="background-image: url(img/blog-bg.jpg); background-position: 50% 50%; background-size: cover">
            <div class="container">
                <div class="cell-view tableCellVH2">
                    <div class="emptySpace100 emptySpace-md50"></div>
                    <div class="emptySpace115 emptySpace-md50"></div>
                    <div class="row">
						<!-- Blog-Title -->
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="big titleShortcode">
                                <h3 class="h3">Read And Join</h3>
                                <h2 class="h1">Our Blog</h2>
                                <div class="emptySpace5"></div>
                                <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem </p>    
                            </div>
                        </div>
                    </div>
                    <div class="emptySpace50"></div>
                </div>
            </div>
        </div>
        <div class="bgWhite">
            <div class="container">
                <div class="emptySpace130 emptySpace-xs60"></div>
                <div class="row">
                    <div class="col-lg-8">
                        <!-- Blog-1-->
                        <div class="flexWrapper">
                            <div class="contentWrapper">
                                <div class="floatL">
                                    <a class="recipes" href="blog-detail.html"><img class="imgShortcode" src="img/blog-image12.jpg" alt=""></a> 
                                </div>
                                <div class="emptySpace-xs10"></div>
                                <div class="normall contentShortcode6">
                                    <div class="emptySpace5"></div>
                                    <div class="small dateAndPersone">
                                        <a href="blog-detail.html">August 17, 2016, by Mickey Ronalds</a>
                                    </div>
                                    <div class="emptySpace15"></div>
                                    <a href="blog-detail.html"><h4 class="h4">Fusce id elit et tellus egestas</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>
                                    <div class="emptySpace25"></div>
                                    <a href="blog2.html" class="button">read more</a>
                                    <div class="likeWrapper">
                                        <div class="like"><span>24</span></div>
                                        <div class="comment"><span>65</span></div>     
                                    </div>   
                                </div> 
                            </div> 
                        </div>
                        <div class="emptySpace90 emptySpace-md30"></div>
                        <!-- Blog-2-->
                        <div class="flexWrapper">
                            <div class="contentWrapper">
                                <div class="floatR">
                                   <a class="recipes" href="blog-detail.html"> <img class="imgShortcode" src="img/blog-image13.jpg" alt=""></a>
                                </div>
                                <div class="emptySpace-xs10"></div>
                                <div class="normall contentShortcode7">
                                    <div class="emptySpace5"></div>
                                    <div class="small dateAndPersone">
                                        <a href="blog-detail.html">August 11, 2016, by Simon Tantis</a>
                                    </div>
                                    <div class="emptySpace15"></div>
                                    <a href="blog-detail.html"><h4 class="h4">Aenean egestas placerat</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>
                                    <div class="emptySpace25"></div>
                                    <a href="blog2.html" class="button">read more</a>
                                    <div class="likeWrapper">
                                        <div class="like"><span>34</span></div>
                                        <div class="comment"><span>45</span></div>     
                                    </div>   
                                </div> 
                            </div>
                        </div>
                        <div class="emptySpace90 emptySpace-md30"></div>
                        <!-- Blog-3-->
                        <div class="flexWrapper">
                            <div class="contentWrapper">
                                <div class="floatL">
                                    <a class="recipes" href="blog-detail.html"><img class="imgShortcode" src="img/blog-image14.jpg" alt=""></a>
                                </div>
                                <div class="emptySpace-xs10"></div>
                                <div class="normall contentShortcode6">
                                    <div class="emptySpace5"></div>
                                    <div class="small dateAndPersone">
                                        <a href="blog-detail.html">July 23, 2016, by Mickey Ronalds</a>
                                    </div>
                                    <div class="emptySpace15"></div>
                                    <a href="blog-detail.html"><h4 class="h4">Maecenas volutpat sagittis mi</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>
                                    <div class="emptySpace25"></div>
                                    <a href="blog2.html" class="button">read more</a>
                                    <div class="likeWrapper">
                                        <div class="like"><span>57</span></div>
                                        <div class="comment"><span>55</span></div>     
                                    </div>   
                                </div> 
                            </div>  
                        </div>
                        <div class="emptySpace90 emptySpace-md30"></div>
                        <!-- Blog-4-->
                        <div class="flexWrapper">
                                <div class="contentWrapper">
                                    <div class="floatR">
                                    <a class="recipes" href="blog-detail.html"><img class="imgShortcode" src="img/blog-image15.jpg" alt=""> </a>
                                </div>
                                <div class="emptySpace-xs10"></div>
                                <div class="normall contentShortcode7">
                                    <div class="emptySpace5"></div>
                                    <div class="small dateAndPersone">
                                        <a href="blog-detail.html">June 19, 2016, by Lora Berry</a>
                                    </div>
                                    <div class="emptySpace15"></div>
                                    <a href="blog-detail.html"><h4 class="h4">Vivamus nisl lorem</h4></a>
                                    <div class="emptySpace15"></div>
                                    <p>Integer ipsum ipsum, suscipit et gravida non, imperdiet eget nisl. Curabitur semper semper nunc, id suscipit diam ornare quis. Ut venenatis, diam nec blandit facilisis, mi justo porttitor risus</p>
                                    <div class="emptySpace25"></div>
                                    <a href="blog2.html" class="button">read more</a>
                                    <div class="likeWrapper">
                                        <div class="like"><span>78</span></div>
                                        <div class="comment"><span>65</span></div>     
                                    </div>   
                                </div> 
                            </div>
                            </div>
                        <div class="emptySpace80 emptySpace-xs30"></div>
                        <div class="pagePagination">
                            <a class="pagiLeft2 spin spin2 hidden-xs" href="blog3.html"></a>
                            <div class="normall numberPagination numberPadding">
                                <a class="pagiActive spin spin2" href="blog3.html">1</a>
                                <a class="spin spin2" href="blog3.html">2</a>
                                <a class="spin spin2" href="blog3.html">3</a>
                                <a class="spin spin2" href="blog3.html">4</a>
                                <span>...</span>
                                <a class="spin spin2" href="blog3.html">29</a>
                            </div>
                            <a class="pagiRight2 spin spin2 hidden-xs" href="blog3.html"></a>    
                        </div>
                    </div>
                    <div class="emptySpace-md50"></div>
                    <!-- Side-bar -->
                    <div class="sideBarWrapper">
                        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-0">
                            <h4 class="h4">Recent Posts</h4>
                            <div class="emptySpace20"></div>
                            <!-- Side-block-1 -->
                            <div class="row">
                               <div class="flexWrapper2">
                                    <div class="col-lg-6">
                                        <a class="imgLayer" href="blog-detail.html"><img class="imgShortcode3" src="img/event-image.jpg" alt=""><span></span><span></span></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="big sideBarContent">
                                            <a href="blog-detail.html">Maecenas volutpat sagittis mi</a>
                                        </div>
                                        <div class="emptySpace10 emptySpace-xs5"></div>
                                        <div class="small">
                                            <p>August 16, 2016</p>
                                        </div>
                                    </div>    
                               </div>    
                            </div>
                            <div class="emptySpace35 emptySpace-md30"></div>
                            <!-- Side-block-2 -->
                            <div class="row">
                               <div class="flexWrapper2">
                                    <div class="col-lg-6 col-lg-push-6">
                                       <a class="imgLayer" href="blog-detail.html"><img class="imgShortcode3" src="img/event-image2.jpg" alt=""><span></span><span></span></a>
                                    </div>
                                    <div class="col-lg-6 col-lg-pull-6"> 
                                       <div class="big sideBarContent">
                                            <a href="blog-detail.html">Fusce id elit et tellusegestas</a>
                                        </div>
                                        <div class="emptySpace10 emptySpace-xs5"></div>
                                        <div class="small">
                                            <p>August 14, 2016</p>
                                        </div>
                                    </div>   
                               </div> 
                            </div>
                            <div class="emptySpace35 emptySpace-md30"></div>
                            <!-- Side-block-3 -->
                            <div class="row">
                                <div class="flexWrapper2">
                                    <div class="col-lg-6">
                                       <a class="imgLayer" href="blog-detail.html"><img class="imgShortcode3" src="img/event-image3.jpg" alt=""><span></span><span></span></a>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="big sideBarContent">
                                           <a href="blog-detail.html">Maecenas volutpat sagittis mi</a>
                                        </div>
                                        <div class="emptySpace10 emptySpace-xs5"></div>
                                        <div class="small">
                                            <p>August 13, 2016</p>
                                        </div>
                                    </div>   
                                </div> 
                            </div>
                            <div class="emptySpace50 emptySpace-sm30"></div>
                            <!-- Side-block-4 -->
                            <h4 class="h4">Tags</h4>
                            <div class="emptySpace25"></div>
                            <a class="blogTags" href="#">Events</a>
                            <a class="blogTags" href="#">Recipes</a>
                            <a class="blogTags" href="#">Cooks</a>
                            <a class="blogTags" href="#">Atmosphere</a>
                            <a class="blogTags" href="#">Chocolate</a>
                            <a class="blogTags" href="#">Cakes</a>
                            <a class="blogTags" href="#">Cookies</a>
                            <a class="blogTags" href="#">Muffins</a>
                            <a class="blogTags" href="#">Cheesecakes</a>
                            <div class="emptySpace40 emptySpace-xs30"></div>
                            <h4 class="h4">Instagram</h4>
                            <div class="emptySpace25"></div>
                            <!-- Instagram -->
                            <div class="instagram">
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image9.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image10.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image11.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image12.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image13.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image14.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image15.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image16.jpg" alt=""><span></span><span></span></a></div>
                                <div class="instBox"><a class="imgLayer" href="#"><img class="imgShortcode" src="img/insta-image17.jpg" alt=""><span></span><span></span></a></div>   
                            </div>
                            <div class="emptySpace60 emptySpace-sm30"></div>
                            <h4 class="h4">Subscribe</h4>
                            <div class="emptySpace25"></div>
                            <form>
                                <input class="contactsInput" type="text" placeholder="Name">
                                <div class="emptySpace20"></div>
                                <input class="contactsInput" type="email" placeholder="Email">
                            </form>
                            <div class="emptySpace30"></div>
                            <button class="button style-2" type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="emptySpace-xs60 emptySpace125"></div>
        
        <div class="footerSeparator"></div>
        <div class="emptySpace50 emptySpace-xs30"></div>
      
	<!-- FOOTER -->
	<footer>
            <div class="bgWhite">
               <div class="container">
                    <!-- Contacts -->
                    <h4 class="h4 contentShortcode"> 
                        <a class="phone" href="tel:5557858965">Call Us Today: <span>555 785 8965</span></a>
                    </h4>
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Social -->
                    <div class="contentShortcode">
                        <h4 class="h4 follow">Follow us</h4>
                        <a class="social footerSocilaBg fb spin spin2" href="https://www.facebook.com/" target="_blank">
                        	<i class="fa fa-facebook footerSocial footerF"></i>
                        </a>
                        <a class="social footerSocilaBg tw spin spin2" href="https://twitter.com" target="_blank">
                        	<i class="fa fa-twitter footerSocial footerTw"></i>
                        </a>
                        <a class="social footerSocilaBg gl spin spin2" href="https://plus.google.com/" target="_blank">
                        	<i class="fa fa-google-plus footerSocial footerGl"></i>
                        </a>
                        <a class="social footerSocilaBg pi spin spin2" href="https://www.pinterest.com/" target="_blank">
                        	<i class="fa fa-pinterest-p footerSocial footerPi"></i>
                        </a>
                        <a class="social footerSocilaBg in spin spin2" href="https://www.linkedin.com/" target="_blank">
                        	<i class="fa fa-linkedin footerSocial footerIn"></i>
                        </a>
                    </div>
                    <div class="emptySpace45 emptySpace-xs20"></div>
                    <!-- Instagram -->
                    <h4 class="h4 contentShortcode">
                        <a class="inst" href="https://www.instagram.com" target="_blank">Join us on instagram: <span>#invisiocakes</span></a>
                    </h4>   
                    <div class="emptySpace25"></div>
                    <!-- Instagram-Images -->
                    <div class="instagram">
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image1.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image2.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image3.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image4.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image5.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image6.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image7.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image8.jpg" alt=""><span></span><span></span></a>
                    </div>  
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Copy -->
                    <div class="copy">
                        <p>© Invisio Cakes. All rights reserved.</p>
                    </div>   
               </div>
            </div>
        </footer>
	<div class="emptySpace60"></div>
    </div>
        <!-- Popup -->
        <div class="popup-wrapper">
            <div class="bg-layer"></div>
            <div class="popup-content" data-rel="1">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <div class="embed-responsive embed-responsive-16by9">

                   </div>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
            <!-- Search-Popup -->
             <div class="popup-content" data-rel="2">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <form>
                       <input class="popupSearch" type="search" placeholder="Search">
                       <input class="searchicon" type="submit">
                   </form>
                  	<i class="fa fa-search searchPopUpIcon"></i>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
        </div>
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/global.js"></script>

</body>

</html>