<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text:400,700|Philosopher:400,700|Berkshire+Swash " rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <title>INVISIO</title>
</head>

<body>
    <!-- LOADER -->
    <div id="loader-wrapper">
        <div class="loaderShortcode loaderShapeRight"></div>
        <div class="loaderShortcode loaderShapeLeft"></div>
        <div class="loaderShortcode loaderLogo"></div>
    </div>
    
    <div id="content-block">
        <!-- HEADER -->
        <header>
           <div class="container">
                <div class="row">
                    <a class="logo" href="index.html"><img src="img/logo.png" alt=""></a>
                    <div class="mobileWrapper">
                        <div class="headerLikeWrapper">
                            <div class="headerLike">
								<i class="fa fa-heart-o likeHear"></i>
								<!-- HeaderSocial -->
								<div class="headerSocialWrapper">
									<a class="headerSocial  spin spin2" href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook headerSocialIcon headerF"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://twitter.com" target="_blank"><i class="fa fa-twitter headerSocialIcon headerTw"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus headerSocialIcon headerGl"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://pinterest.com" target="_blank"> <i class="fa fa-pinterest-p headerSocialIcon headerPi"></i></a>
									<div class="emptySpace5"></div>
									<a class="headerSocial spin spin2" href="https://www.linkedin.com/" target="_blank"> <i class="fa fa-linkedin headerSocialIcon headerIn"></i></a>
								</div>
                        	</div>
                        </div>
                        <div class="headerScearch open-popup" data-rel="2">
                        	<i class="fa fa-search headerSearchIcon"></i>
                        </div>
                        <nav>
                            <ul class="leftMenu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                	<a class="headerActive" href="products.html">Products</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a class="headerActive" href="products-detail.html">Product Detail</a></li>
                                	</ul>
                                </li>
                            </ul>
                            <ul class="RightMenu">
                                <li><a href="services.html">Services</a></li>
                                <li>
                                	<a href="blog.html">Blog</a>
                                	<span class="drowDownIcon"></span>
                                	<ul class="dropDownMenu">
                                		<li><a href="blog2.html">Blog 2</a></li>
                                		<li><a href="blog3.html">Blog 3</a></li>
                                		<li><a href="blog-detail.html">Blog Detail</a></li>
                                	</ul>
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                            </ul>
                        </nav> 
                    </div>
                    <div class="menuIcon"> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                        <span></span> 
                    </div>
                </div>
           </div>
        </header>
		
     	<!-- Our-Products-Page-2 -->
        <div class="bgImages opacityLayer" style="background-image: url(img/products-bg.jpg); background-position: 50% 50%; background-size: cover">
            <div class="container">
                <div class="cell-view tableCellVH2">
                    <div class="emptySpace100 emptySpace-md50"></div>
                    <div class="emptySpace115 emptySpace-md50"></div>
                    <div class="row">
                        <!-- Our-Product-Title -->
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="big titleShortcode">
                                <h3 class="h3">Sweet And Delicious</h3>
                                <h2 class="h1">Our Products</h2>
                                <div class="emptySpace5"></div>
                                <p>Proin mattis rutrum magna, et pretium erat tincidunt at. Donec lectus ipsum, pulvinar id sollicitudin id, bibendum vel quam. Suspendisse nec ante non lacusvel sed sem </p>    
                            </div>
                        </div>
                    </div>
                    <div class="emptySpace50"></div>
                </div>
            </div>
        </div>
        <div class="bgWhite">
            <div class="container">
                <div class="emptySpace-xs60 emptySpace110"></div>
                <div class="row">
                    <!-- Raspberry-Cake-Title -->
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <div class="big subTitleShortcode">
                            <h2 class="h2">Chocolate-Raspberry Cake</h2>
                            <div class="emptySpace20"></div>
                            <p>Suspendisse et mollis risus, ut congue nisl. Praesent sed facilisis dui. Mauris facilisis tincidunt vestibulum. Maecenas volutpat sagittis  mauris sodales in.</p>
                        </div>
                    </div>
                </div>
                <div class="emptySpace25"></div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="swiper-container" data-loop="1" style="height: 350px">
                            <div class="swiper-wrapper">
                                <!-- Slide-1 -->
                                <div class="swiper-slide" style="background: url(img/productImg.jpg);  background-position: 50% 50%; background-size: cover;"></div>
                                <!-- Slide-2 -->
                                <div class="swiper-slide" style="background: url(img/productImg2.jpg);  background-position: 50% 50%; background-size: cover;"></div>
                                <!-- Slide-3 -->
                                <div class="swiper-slide" style="background: url(img/productImg3.jpg);  background-position: 50% 50%; background-size: cover;"></div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                        </div>
                    </div>
                </div>
                <div class="emptySpace20"></div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="normall">
                            <p>Proin at interdum risus, interdum congue est. Sed convallis hendrerit enim. Donec mollis lacus magna. Nunc aliquam tellus ut vulputate mollis. Pellentesque a justo et orci imperdiet suscipit eu sed justo. Vestibulum eu erat lorem. Cras sit amet consequat ante, sit amet volutpat lacus.</p>
                            <div class="emptySpace25"></div>
                            <p>Donec auctor lacus ut odio lobortis rhoncus. Curabitur pellentesque ac dolor et imperdiet. Aenean consectetur erat quam, ac volutpat nisi placerat in. Nunc metus mi, tempus nec urna quis, tempus laoreet tellus. Etiam vel justo vestibulum, blandit velit quis, consequat lorem.</p>
                        </div>
                    </div>
                </div>
                <div class="emptySpace35 emptySpace-xs25"></div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="normall ingShortcode">
                            <h6 class="h6">Ingredients:</h6>
                            <p>butter, chocolate powder, dry milk, eggs, flour, salt, sugar, vanilla, seasonal berries.</p>
                        </div>
                        <a href="#" class="sweetPrice2 productPrice spin spin2">$6,99</a>
                    </div>
                </div>
                <div class="emptySpace10"></div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="share">Share:</div>
                        <div class="socialWrapper2">
                            <a class="social2 shareBg spin spin2" href="#">
								<i class="fa fa-facebook shareF2"></i>
							</a>
                            <a class="social2 shareBg spin spin2" href="#">
								<i class="fa fa-twitter shareT2"></i>
							</a> 
                            <a class="social2 shareBg spin spin2" href="#">
                            	<i class="fa fa-google-plus shareG2"></i>
                            </a>
                            <a class="social2 shareBg spin spin2" href="#">
                            	<i class="fa fa-pinterest-p sharePi2"></i>
                            </a>
                            <a class="social2 shareBg spin spin2" href="#">
								<i class="fa fa-linkedin shareIn2"></i>
							</a>
                        </div>
                    </div>
                </div>
                <div class="emptySpace-xs60 emptySpace110"></div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="titleShortcode2">
                            <h2 class="h2">Related Products</h2>
                        </div>
                    </div>
                </div>
                <div class="emptySpace70 emptySpace-xs30"></div>
                <!-- Swiper -->
                <div class="swiper-container" data-breakpoints="1" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-slides-per-view="4" data-space="30">
                    <!-- Swiper-Arrow -->
                    <div class="arrowWrapper"> 
                        <div class="swiper-button-prev hidden-xs hidden-sm spin spin2">
                            <img class="arrowShortcode" src="img/left-hover-arrow.png" alt="">
                        </div>
                        <div class="swiper-button-next hidden-xs hidden-sm spin spin2">
                            <img class="arrowShortcode" src="img/right-hover-arrow.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-wrapper">
                        <!-- Slide-1 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href=""><h4 class="h4">Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div> 
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/relate-product1.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$4,99</div>
                            </div>
                        </div>
                        <!-- Slide-2 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href="#"><h4 class="h4">Rum Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div> 
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/relate-product2.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$4,50</div>
                            </div>
                        </div>
                        <!-- Slide-3 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href="#"><h4 class="h4 ">Carrot Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div> 
                                <a class="imgLayer" href="#"> <img class="imgShortcode" src="img/relate-product3.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$6,99</div>
                            </div>
                        </div>
                        <!-- Slide-4 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                               <a href="#"><h4 class="h4">Almond Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div>
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/main-slide4.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$7,25</div>
                            </div>
                        </div>
                        <!-- Slide-5 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href="#"><h4 class="h4 ">Carrot Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div> 
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/relate-product3.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$6,99</div>
                            </div>
                        </div>
                        <!-- Slide-6 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href="#"><h4 class="h4">Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div> 
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/relate-product1.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$4,99</div>
                            </div>
                        </div>
                        <!-- Slide-7 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href="#"><h4 class="h4">Almond Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs10"></div>
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/main-slide4.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs10"></div>
                                <div class="sweetPrice">$7,25</div>
                            </div>
                        </div>
                        <!-- Slide-8 -->
                        <div class="swiper-slide">
                            <div class="normall contentShortcode">
                                <a href="#"><h4 class="h4">Rum Chocolate Cake</h4></a>
                                <div class="emptySpace25 emptySpace-xs15"></div> 
                                <a class="imgLayer" href="#"><img class="imgShortcode" src="img/relate-product2.jpg" alt=""><span></span><span></span></a>
                                <div class="emptySpace5"></div>
                                <p>Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.</p>
                                <div class="emptySpace20 emptySpace-xs15"></div>
                                <div class="sweetPrice">$4.50</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination relative-pagination swiper-pagination-black visible-xs visible-sm"></div> 
                </div> 
                <div class="emptySpace125 emptySpace-xs60"></div>
            </div>
        </div>
        
        <div class="footerSeparator"></div>
        <div class="emptySpace50 emptySpace-xs30"></div>
       
        <!-- FOOTER -->
        <footer>
            <div class="bgWhite">
               <div class="container">
                    <!-- Contacts -->
                    <h4 class="h4 contentShortcode"> 
                        <a class="phone" href="tel:5557858965">Call Us Today: <span>555 785 8965</span></a>
                    </h4>
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Social -->
                    <div class="contentShortcode">
                        <h4 class="h4 follow">Follow us</h4>
                        <a class="social footerSocilaBg fb spin spin2" href="https://www.facebook.com/" target="_blank">
                        	<i class="fa fa-facebook footerSocial footerF"></i>
                        </a>
                        <a class="social footerSocilaBg tw spin spin2" href="https://twitter.com" target="_blank">
                        	<i class="fa fa-twitter footerSocial footerTw"></i>
                        </a>
                        <a class="social footerSocilaBg gl spin spin2" href="https://plus.google.com/" target="_blank">
                        	<i class="fa fa-google-plus footerSocial footerGl"></i>
                        </a>
                        <a class="social footerSocilaBg pi spin spin2" href="https://www.pinterest.com/" target="_blank">
                        	<i class="fa fa-pinterest-p footerSocial footerPi"></i>
                        </a>
                        <a class="social footerSocilaBg in spin spin2" href="https://www.linkedin.com/" target="_blank">
                        	<i class="fa fa-linkedin footerSocial footerIn"></i>
                        </a>
                    </div>
                    <div class="emptySpace45 emptySpace-xs20"></div>
                    <!-- Instagram -->
                    <h4 class="h4 contentShortcode">
                        <a class="inst" href="https://www.instagram.com" target="_blank">Join us on instagram: <span>#invisiocakes</span></a>
                    </h4>   
                    <div class="emptySpace25"></div>
                    <!-- Instagram-Images -->
                    <div class="instagram">
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image1.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image2.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image3.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image4.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image5.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image6.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image7.jpg" alt=""><span></span><span></span></a>
                        <a class="imgLayer" href="https://www.instagram.com" target="_blank"><img src="img/insta-image8.jpg" alt=""><span></span><span></span></a>
                    </div>  
                    <div class="emptySpace55 emptySpace-xs20"></div>
                    <!-- Copy -->
                    <div class="copy">
                        <p>© Invisio Cakes. All rights reserved.</p>
                    </div>   
               </div>
            </div>
        </footer>
        <div class="emptySpace60"></div>
    </div>
        <!-- Popup -->
        <div class="popup-wrapper">
            <div class="bg-layer"></div>
            <div class="popup-content" data-rel="1">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <div class="embed-responsive embed-responsive-16by9">

                   </div>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
            <!-- Search-Popup -->
            <div class="popup-content" data-rel="2">
                <div class="layer-close"></div>
                <div class="popup-container size-1">
                   <form>
                       <input class="popupSearch" type="search" placeholder="Search">
                       <input class="searchicon" type="submit">
                   </form>
                  	<i class="fa fa-search searchPopUpIcon"></i>
                   <div class="button-close"> <span></span><span></span></div>
                </div>
            </div>
        </div>
        
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="js/global.js"></script>

</body>

</html>